@font-face {
    font-family: 'MPLUS1';
    src: url('/assets/fonts/MPLUS1-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #0A524A;
}

body,
html {
    font-family: 'MPLUS1', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 7%, rgba(212, 220, 192, 1) 40%, rgba(213, 221, 193, 1) 57%, rgba(213, 221, 193, 1) 69%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
}

section {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hrSection {
    border: 0;
    border-top: 2px solid #C69C6D !important;
    width: 30%;
    margin: 0 15px;
    opacity: 1 !important;
}

.banner-section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

p,
ul,
h4,
h3,
li,
h2 {
    color: var(--primary-color) !important;
}

.content-section {
    display: flex;
    padding: 7% 20%;
    position: relative;
    align-items: flex-start;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}

.content-title,
.content-description {
    width: 100%;
    max-width: 410px;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.right-image {
    width: 15%;
    height: auto;
    margin: 20px 20px;
}

.right-image-large {
    width: 39%;
    height: auto;
    position: absolute;
    top: 20%;
    left: calc(100% - 40vw);
    z-index: -1;
}

.section-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-container-section {
    flex: 1;
    width: 100vh !important;
  height: 75vh !important;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.content-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content-container p {
    font-size: 1em;
    margin-bottom: 20px;
}

.content-container button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.section-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-container {
    flex: 1;
}

.content-container {
    flex: 1;
    padding: 10% 7%;
    background: linear-gradient(121deg, rgba(2, 126, 104, 1) 37%, rgba(212, 220, 192, 1) 100%);
    text-align: inherit;
    color: #fff;
}

.content-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content-container p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #fff !important;
}

.section-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section-container2 {
    background:  linear-gradient(180deg, #FFFFFF 0%, #D4DCC0 47%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.accordion {
    width: 100%;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #dcc4a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

 

.accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.accordion-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%;
}

.image-container {
    flex: 1;
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.4s;
}

 .button-form {
    font-family: 'M PLUS 1', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #9bc149 0%, #106B60 100%);
  transition: background 0.3s ease;
  width: 85%;
}

@media (max-width: 768px) {

    header div img {
        visibility: hidden;

        display: none !important;
    }

    .cards-container {
        display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
    }

    .right-content {
        visibility: hidden;

        display: none !important;
    }

    .image-container {
        visibility: hidden;

        display: none !important;
    }

    .image-container-form {
        visibility: hidden;

        display: none !important;
    }

    .form-container form input {
        width: 41vh !important;
    }
    
    .form-container {
        padding: 20px !important;
    }

    .section {
        padding: 50px 10px;
    }

    .card-image {
        width: 37vh !important;
        height: 51%;
    }


}